@font-face {
  font-family: 'Roboto-Black';
  src: local('Roboto'), url(./fonts/Roboto-Black.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto-Bold';
    font-weight: 900;
    src: local('Roboto'), url(./fonts/Roboto-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto-Light';
    font-weight: 900;
    src: local('Roboto'), url(./fonts/Roboto-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto-Medium';
  font-weight: 900;
  src: local('Roboto'), url(./fonts/Roboto-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto-Regular';
  font-weight: 900;
  src: local('Roboto'), url(./fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto-Thin';
  font-weight: 900;
  src: local('Roboto'), url(./fonts/Roboto-Thin.ttf) format('truetype');
}

body {
  display: block;
  margin: 0px;
  background-color: #f6f5f5;
  overflow: hidden;
}

p {
  font-size: 18px;
}

h4 {
  font-size: 18px;
}

span {
  font-size: 18px;
}

.home {
  display: flex;
}   

.header {
  width: 100%;
  height: 10vh;
  background-color: white;
  border-bottom: 0.5px solid #d8d8d8;
  flex-direction: row;
  align-items: center;
  display: flex;
}

.header .account {
  margin-right: 30px;
  flex: 1;
  flex-direction: row;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header .search {
  flex: 2;
  justify-content: flex-start;
  display: flex;
}

.header .logo {
  justify-content: flex-start;
  flex : 1;
  display: flex;
}

.header #username {
  padding-left: 10px;
  color: #333333;
  font-family: Roboto-Regular;
}

.header #img-logo {
  width: 200px;
  height: auto;
  margin-left: 30px;
}

.header #img-avatar {
  width: 40px;
  height: 40px;
  border-radius: 24px;

}

.header #input-search {
  border: 0px;
  background: #F6F5F5;
  border-radius: 8px;
  width: 90%;
  height: 40px;
  padding-left: 60px;
  font-size: 18px;
  font-family: Roboto-Regular;
}

.header #input-search::placeholder {
  color: #828282;
  font-family: Roboto-Light;
}

.header #input-search:hover {
  border: 0px;
}


.header #input-search:focus {
  outline: none !important;
  border:0px;
  box-shadow: 0 0 4px #ff5346;
}

.header #icon-search {
  color: #aaaaaa;
  position: absolute;
  align-self: center;
  padding-left:20px;
}


.header .form-account {
  display: none;
  width: 200px;
  height: 90px;
  background-color: white;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  position: absolute;
  top: 90px;
  right: 0px;
}

.header .form-account p {
  margin: 5;
}

.header .form-account .row {
  flex-direction: row;
  display: flex;
  align-items: center;
  margin-left: 30px;
  height: 45px;
}


                                                      /* Thanh Nav cho trang home */
.nav {
  display: flex;
  flex-direction: column;
  width: 17vw;
  margin-right: 0px;
  background-color: #EE6F57;
  height: 90vh;
}

.nav .ul-nav {
  list-style-type: none;
  padding-inline-start: 0px;
}

.nav .nav-item {
  height: 50px;
  justify-content: flex-start;
  display: flex;
  align-items: center;
  margin-left: 0px;
  padding-left: 8px;
}

.nav .nav-item-click {
  background-color: white;
}

.nav .nav-item-click .icon-right{
  color: #333333;
}

.nav .nav-item-click .text-nav{
  color: #333333;
}

.nav .nav-item span{
  cursor: default;
}

.nav .icon-left {
  margin-right: 2px;
  color: #EE6F57;
}

.nav .icon-right {
  margin-right: 8px;
  color: white;
}

.nav .text-nav {
  font-style: normal;
  font-weight:500;
  font-size: 18px;
  line-height: 21px;
  color: white;
  font-family: Roboto-Medium;
}

.nav .title {
  height: 80px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.nav .title .box {
  height: 50px;
  width: 80%;
  background: #EE6F57;
  box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.1);
  border-radius: 64px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.nav #img-nhatro {
  width: 36px;
  height: 36px;
  border-radius: 20px;
  border: 2px solid white;
}

.nav #ten-nha-tro {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: white;
  padding-left: 14px;
  font-family: Roboto-Medium;
}

.nav .line {
  border-bottom: 0.5px solid #FFFFFF;
  background-color: white;
  width: 80%;
  align-self: center;
  display: flex;
}


                                                      /* Màn hình quản lý dãy trọ*/
.quanlydaytro {
  width: 83vw;
  background-color: #F6F5F5;
}
.quanlydaytro h4 {
  margin: 5px 0px;
}
.quanlydaytro .row {
  height: 60px;
  background-color: white ;
  border-bottom: 1px solid #E0E0E0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 4%;
}

.quanlydaytro .array-item {
  height: 76vh;
  overflow-y: scroll;
  padding: 25px 0 0 50px;
}

.quanlydaytro .dropdown {
  align-self: center;
  color: #333333;
  font-size: 18px;
  font-family: Roboto-Regular;
}

.quanlydaytro .card {
  width: 22%;
  height: 220px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 2px black;
  overflow: hidden;
  margin-bottom: 25px;
  float: left;
  margin-right: 25px;
}

.quanlydaytro .card #img-card {
  width: 100%;
  height: 145px;
}

.quanlydaytro .card .box-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 15px;
}

.quanlydaytro .card .box-name h4 {
  color: #333333;
  font-family: Roboto-Medium;
}


.quanlydaytro .card .box-name span {
  color: #828282;
  font-size: 16px;
  font-family: Roboto-Regular;
}

.row {
  height: 60px;
  background-color: white ;
  border-bottom: 1px solid #E0E0E0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 4%;
}


                                                      /* Màn hình quản lý người thuê*/
.quanlynguoithue {
  width: 83vw;
  background-color: #F6F5F5;
}

.quanlynguoithue h4 {
  margin: 5px 0px;
}
.quanlynguoithue .row {
  height: 60px;
  background-color: white ;
  border-bottom: 1px solid #E0E0E0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 4%;
}

.row h3 {
  font-family: Roboto-Medium;
  color: #151515;
}

.quanlynguoithue .array-item {
  height: 76vh;
  overflow-y: scroll;
  padding: 25px 0 0 50px;
}

.quanlynguoithue .dropdown {
  align-self: center;
  color: #333333;
  font-size: 18px;
  font-family: Roboto-Regular;
}

.quanlynguoithue .card {
  width: 30%;
  float: left;
  align-items: center;
  margin-bottom: 25px;
  margin-right: 25px;
}

.quanlynguoithue .card #img-card {
  width: 20%;
  border-radius: 5px;
  float: left;
  border: solid 0.3px #bdbdbd;
}

.quanlynguoithue .card .box-name {
  align-items: flex-start;
  margin-left: 15px;
  float: left;
  width: 73%;
}

.quanlynguoithue .card .box-name h4 {
  font-family: Roboto-Regular;
  color: #333333;
}

.quanlynguoithue .card .box-name span {
  font-size: 16px;
  font-family: Roboto-Regular;
  color: #828282;
}

                                                      /* Componnent button */
.box-btn {
  display: inline-grid;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.box-btn .btn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background: #1F3C88;
  width: 170px;
  height: 36px;
  align-items: center;
  align-self: center;
  position: absolute;
  color: white;
  justify-content: center;
  border-width: 0;
  font-family: Roboto-Regular;
}

.box-btn .btn2 {
  background: #070D59;
  width: 170px;
  height: 36px;
  align-items: center;
  align-self: center;
  margin-left: 5px;
  margin-top: 5px;
  border-width: 0;
}

.box-btn #icon-btn {
  color: white;
  margin-right: 10px;
}

/* Login */
.login .body {
  background-image: url("./images/background.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
}

.login .formlogin .title {
  font-size: 28px;
  font-family: "times new roman";
  text-align: center;
  justify-content: center;
  margin: 32px;
  color: #070d59;
  font-weight: bold;
}
.login .formlogin .form {
  background-color: rgb(238, 111, 87, 0.8);
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 32px;
  border-radius: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
}
.login .formlogin .form .dangnhap {
  text-align: center;
  padding-top: 20px;
  font-size: 32px;
  font-weight: bold;
  color: white;
}
.login .input {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.login .input .icon {
  position: absolute;
  font-size: 24px;
  color: #ffffff;
  padding-right: 16px;
}
.login .input .inputtext {
  border: solid 1px #ffffff;
  padding: 16px;
  padding-right: 80px;
  background-color: rgb(238, 111, 87, 0);
  width: 100%;
  font-size: 16px;
  color: #ffffff;
}
.login .input .inputtext:focus {
  border: 0px;
}

.login .input .inputtext::placeholder {
  color: #ffffff;
  font-weight: 100;
}
.login .quenmatkhau {
  display: flex;
  justify-content: flex-end;
}
.login .quenmatkhau .icon2 {
  color: #ffffff;
  align-self: center;
  margin-right: 4px;
  font-size: 16px;
}
.login .quenmatkhau .quenmktext {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  display: inline;
  margin: 0px;
  align-self: center;
}

@media all and (max-width: 540px) {
  .login .formlogin .title {
    font-size: 24px;
  }
  .login .formlogin .form .dangnhap {
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .login .formlogin .form {
    padding-bottom: px;
    padding-left: 24px;
    padding-right: 24px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 40px;
  }
  .box-btn .btn {
    font-size: 20px;
    padding: 16px;
  }
  .box-btn .btn2 {
    font-size: 20px;
    padding: 16px;
  }
  .login .quenmatkhau .quenmktext {
    font-size: 12px;
  }
  .login .input .icon {
    font-size: 20px;
    padding-right: 16px;
  }
  .login .quenmatkhau .icon2 {
    font-size: 14px;
  }
  .login .input .inputtext {
    padding: 16px;
    padding-right: 50px;
    font-size: 14px;
  }
}
/* end login */

/*admin yêu cầu, thông báo */
.yeucau {
  width: 83vw;
} 

.yeucau .table{
  display: flex;
  padding: 24px;
}
.yeucau .table p{
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Roboto-Medium;
}
.yeucau .table td{
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #828282;
  font-family: Roboto-Regular;
}
.yeucau .table th{
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
  color: #4f4f4f;
}
.yeucau .table .icon{
  font-size: 20px;
  vertical-align: middle;
}
.yeucau .table .icon2{
  color: #EB5757;
  align-items: center;
  justify-content: center;
  display: flex;
}
.yeucau .table .icon3{
  color: #219653;
  align-items: center;
  justify-content: center;
  display: flex;
}
.yeucau .sort{
  display: table-cell;
  white-space: nowrap;
}
.yeucau .sort_text{
  display: inline-block;
  margin-right: 4px;
}
.yeucau .table table, tr{
  border: 1px solid #BDBDBD;
}
.yeucau .table table{
  border-collapse: collapse;
  background-color: #ffffff;
}
.yeucau .table .ghichu{
  border: none;
  border-bottom: 1px solid #BDBDBD;
  font-size: 16px;
  color: #828282;
}
.yeucau .table input[type=text]:focus{
  outline: none;
  color: #070D59;
}

/* thanh toán */
.thanhtoan {
  width: 83vw;
}
.thanhtoan .table{
  display: flex;
  padding: 24px;
}
.thanhtoan .table p{
  margin-top: 0px;
  margin-bottom: 0px;
}
.thanhtoan .month {
  font-family: Roboto-Medium;
  color: #4f4f4f;
}
.thanhtoan .chotchiso {
  font-family: Roboto-Regular;
}
.thanhtoan .table td{
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #828282;
}
.thanhtoan .table th{
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
  color: #4f4f4f;
  font-family: Roboto-Medium;
}
.thanhtoan .table p{
  margin-top: 0px;
  margin-bottom: 0px;
}
.thanhtoan .table table, tr{
  border: 1px solid #BDBDBD;
}
.thanhtoan .table table{
  border-collapse: collapse;
  background-color: #ffffff;
}
.thanhtoan .sort{
  display: table-cell;
  white-space: nowrap;
}
.thanhtoan .sort_text{
  display: inline-block;
  margin-right: 4px;
}
.thanhtoan .table .icon{
  font-size: 20px;
  vertical-align: middle;
}
.thanhtoan .chiso{
  display: inline;
  font-family: Roboto-Regular;
}
.thanhtoan .box-btn {
  margin-top: 8px;
  display: flex;
  position: relative;
  justify-content: flex-start;
}

.thanhtoan .box-btn .btn {
  font-size: 14px;
  background: #1f3c88;
  position: absolute;
  color: white;
  border-width: 0px;
  width: 150px;
}

.thanhtoan .box-btn .btn2 {
  background: #070D59;
  width: 150px;
  height: 36px;
  margin-left: 5px;
  margin-top: 5px;
  border-width: 0;
}

.thanhtoan .text-top{
  vertical-align: text-top;
}

.thanhtoan .tien{
  color: #1F3C88 !important;
  font-family: Roboto-Medium;
}

.thanhtoan .padbot4px{
  padding-bottom: 4px;
}

.thanhtoan .colorblack{
  color: #4f4f4f;
  font-family: Roboto-Medium;
}

.thanhtoan .thanhtoan-status {
  font-family: Roboto-Regular;
}

  /* ---------------------------------------------------------------------THÔNG TIN CHUNG*/
  .thongtinchung {
    width: 83vw;
  }

  .thongtinchung .row {
    justify-content: left;
  }

  .thongtinchung .option {
    margin-right: 16px;
    display: flex;
    align-items: center;
    cursor: default;
  }

  .option .option-title {
    color: #828282;
    font-family: Roboto-Medium;
  }

  .thongtinchung .option-click {
    border-bottom: 3px solid #EE6F57;
  }

  .thongtinchung .option .option-title-click {
    color: #151515;
  }

  .thongtinchung .background {
    background-color: #E5E5E5;
    padding: 25px;
  }

  .thongtinchung .option-ca-nhan {
    background-color: white;
    height: 100%;
    display: flex;
  }

  .thongtinchung .option-o-tro {
    background-color: white;
    height: 100%;
  }

  .thongtinchung .option-thanh-vien {
    background-color: white;
  }

  .thongtinchung .box-avatar {
    padding: 25px 25px;
  }

  .thongtinchung .avatar {
    width: 245px;
    height: 245px;
    border-radius: 8px;
  }

  .thongtinchung .avatar-small {
    width: 30px;
    height: 30px;
    border-radius: 3px;
  }

  .thongtinchung .display-flex {
    display: flex;
    align-items: center;
    margin-top: 5px;
  }

  .thongtinchung #icon-edit {
    color: #828282;
  }

  .thongtinchung .text-change-avatar {
    color: #828282;
    font-size: 16px;
    margin-left: 6px;
    font-family: Roboto-Regular;
  }

  .thongtinchung .box-thongtin {
    padding: 25px 25px;
    width: 100%;
  }

  .thongtinchung #user-name {
    font-size: 26px;
    line-height: 33px;
    color: #333333;
    font-family: Roboto-Bold;
  }

  .thongtinchung #roommate-name {
    font-size: 18px;
    color: #333333;
    font-family: Roboto-Medium;
    margin-left: 8px;
  }

  .thongtinchung .box-thongtin-row {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    margin-right: 20%;
    margin-left: -60px;
  }

  .thongtinchung .box-thongtin-row2{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-right: 20%;
  }

  .thongtinchung .row-item3 {
    height: 60px;
    width: max-content;
    display: grid;
    margin-top: 20px;
  }

  .thongtinchung .item-title2{
    color: #4F4F4F;
    font-weight: bold;
    font-size: 20px;
  }

  .thongtinchung .item-infor2{
    color: #828282;
    font-size: 18px;
  }

  .thongtinchung .row-item {
    padding: 10px 60px;
  }

  .thongtinchung .row-item2 {
    padding: 10px 0px;
  }

  .thongtinchung .item-title{
    color: #4F4F4F;
    font-family: Roboto-Medium;
    font-size: 20px;
    margin-bottom: 10px;
  }

  .thongtinchung .item-infor{
    color: #828282;
    font-size: 18px;
    font-family: Roboto-Regular;
  }

  .thongtinchung .btn-edit-infor {
    display: flex;
    width: 80%;
    justify-content: flex-end;
    font-family: Roboto-Regular;
  }

  .thongtinchung .box-column {
    display: flex;
  }

  .thongtinchung .column-title {
    display: grid;
    height: 240px;
  }

  .thongtinchung .column-infor {
    margin-left: 120px;
    display: grid;
    height: 240px;
  }

  .thongtinchung .box-thong-tin-o-tro {
    padding: 30px 50px 0px 50px;
  }

  .thongtinchung .thong-tin-phong {
    margin: 25px;
    border: 1px solid #828282;
    padding: 25px 25px 15px 25px;
    border-radius: 10px;
  }

  .thongtinchung #title-phong {
    background: rgba(238, 111, 87, 0.8);
    padding: 5px;
    font-family: Roboto-Bold;
    color: white;
    border-radius: 6px;
    display: inline;
    margin-left: -5px;
  }

  .thongtinchung .table{
    display: flex;
    justify-content: space-between;
  }

  .thongtinchung .option-thanh-vien .table{
    background-color: white;
  }

  .thongtinchung .option-thanh-vien table{
    width: 100%;
  }

  .thongtinchung .option-thanh-vien .sort{
    display: flex;
    }

  .thongtinchung .option-thanh-vien .table td{
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #828282;
  }
  .thongtinchung .option-thanh-vien .table th{
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
  color: #4f4f4f;
  font-family: Roboto-Medium;
  }
  .thongtinchung p {
    margin: 0;
  }
  .thongtinchung .table table, tr{
    border: 1px solid #BDBDBD;
  }
  .thongtinchung .table table{
    border-collapse: collapse;
    background-color: #ffffff;
  }

                                                                          /* dịch vụ */
.dichvu {
  width: 83vw;
}
.dichvu .nav {
  background-color: #ee6f57;
  float: left;
  width: 20%;
  height: 800px;
}
.dichvu .table {
  display: flex;
  padding: 24px;
}
.dichvu .table p {
  margin-top: 0px;
  margin-bottom: 0px;
}
.dichvu .table td {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #828282;
  font-family: Roboto-Regular;
}
.dichvu .table th p {
  font-size: 18px;
  font-family: Roboto-Medium;
}
.dichvu .table td p {
  font-size: 16px;
  font-family: Roboto-Regular;
}
.dichvu .table th {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
  color: #4f4f4f;
}
.dichvu .table .icon {
  font-size: 20px;
  vertical-align: middle;
}
.dichvu .table .icon2 {
  color: #eb5757;
  vertical-align: middle;
}
.dichvu .sort {
  display: table-cell;
  white-space: nowrap;
}
.dichvu .sort_text {
  display: inline-block;
  margin-right: 4px;
}
.dichvu .table table,
tr {
  border: 1px solid #bdbdbd;
}
.dichvu .table table {
  border-collapse: collapse;
  background-color: #ffffff;
  margin-right: 12px;
}
.dichvu .table .ghichu {
  border: none;
  border-bottom: 1px solid #bdbdbd;
  font-size: 16px;
  color: #828282;
}
.dichvu .table input[type="text"]:focus {
  outline: none;
  color: #070d59;
}
.dichvu .dropdown-diennuoc {
  padding: 4px;
  border: 1px solid #828282;
  border-radius: 4px;
  color: #4f4f4f;
  margin-left: 10px;
}
.dichvu .box-btn {
  display: inline-grid;
  align-items: center;
  justify-content: center;
  align-self: center;
}
.dichvu .box-btn .btn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background: #1F3C88;
  width: 130px;
  height: 36px;
  align-items: center;
  align-self: center;
  position: absolute;
  color: white;
  justify-content: center;
  border-width: 0;
  font-family: Roboto-Regular;
}
.dichvu .box-btn .btn2 {
  background: #070D59;
  width: 130px;
  height: 36px;
  align-items: center;
  align-self: center;
  margin-left: 5px;
  margin-top: 5px;
  border-width: 0;
}
