body {
  margin: 0px;
  background-color: #F6F5F5;
}
.header {
  height: 80px;
  background-color: white;
}

/* Login */
.login .body {
  background-image: url("/src//images/background.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
}

.login .formlogin .title {
  font-size: 28px;
  font-family: "times new roman";
  text-align: center;
  justify-content: center;
  margin: 32px;
  color: #070d59;
  font-weight: bold;
}
.login .formlogin .form {
  background-color: rgb(238, 111, 87, 0.8);
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 32px;
  border-radius: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
}
.login .formlogin .form .dangnhap {
  text-align: center;
  padding-top: 20px;
  font-size: 32px;
  font-weight: bold;
  color: white;
}
.login .input {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.login .input .icon {
  position: absolute;
  font-size: 24px;
  color: #ffffff;
  padding-right: 16px;
}
.login .input .inputtext {
  border: solid 1px #ffffff;
  padding: 16px;
  padding-right: 80px;
  background-color: rgb(238, 111, 87, 0);
  width: 100%;
  font-size: 16px;
  color: #ffffff;
}
.login .input .inputtext:focus {
  border: 0px;
}

.login .input .inputtext::placeholder {
  color: #ffffff;
  font-weight: 100;
}
.login .quenmatkhau {
  display: flex;
  justify-content: flex-end;
}
.login .quenmatkhau .icon2 {
  color: #ffffff;
  align-self: center;
  margin-right: 4px;
  font-size: 16px;
}
.login .quenmatkhau .quenmktext {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  display: inline;
  margin: 0px;
  align-self: center;
}

.box-btn {
  margin-top: 48px;
  display: flex;
  position: relative;
}

.box-btn .btn {
  font-size: 24px;
  background: #1f3c88;
  padding: 20px;
  position: absolute;
  color: white;
  width: 99%;
  border-width: 0px;
}

.box-btn .btn2 {
  font-size: 24px;
  background: #070d59;
  padding: 20px;
  margin-left: 5px;
  margin-top: 5px;
  width: 100%;
  border-width: 0px;
}

@media all and (max-width: 540px) {
  .login .formlogin .title {
    font-size: 24px;
  }
  .login .formlogin .form .dangnhap {
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .login .formlogin .form {
    padding-bottom: px;
    padding-left: 24px;
    padding-right: 24px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 40px;
  }
  .box-btn .btn {
    font-size: 20px;
    padding: 16px;
  }
  .box-btn .btn2 {
    font-size: 20px;
    padding: 16px;
  }
  .login .quenmatkhau .quenmktext {
    font-size: 12px;
  }
  .login .input .icon {
    font-size: 20px;
    padding-right: 16px;
  }
  .login .quenmatkhau .icon2 {
    font-size: 14px;
  }
  .login .input .inputtext {
    padding: 16px;
    padding-right: 50px;
    font-size: 14px;
  }
}
/* end login */