@font-face {
  font-family: "Roboto-Black";
  src: local("Roboto"), url(./fonts/Roboto-Black.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto-Bold";
  font-weight: 900;
  src: local("Roboto"), url(./fonts/Roboto-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto-Light";
  font-weight: 900;
  src: local("Roboto"), url(./fonts/Roboto-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto-Medium";
  font-weight: 900;
  src: local("Roboto"), url(./fonts/Roboto-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto-Regular";
  font-weight: 900;
  src: local("Roboto"), url(./fonts/Roboto-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto-Thin";
  font-weight: 900;
  src: local("Roboto"), url(./fonts/Roboto-Thin.ttf) format("truetype");
}

body {
  display: block;
  margin: 0px;
  background-color: #f6f5f5;
  overflow: hidden;
}

p {
  font-size: 18px;
}

h4 {
  font-size: 18px;
}

span {
  font-size: 18px;
}

.home {
  display: flex;
}

.header {
  width: 100%;
  height: 10vh;
  background-color: white;
  border-bottom: 0.5px solid #d8d8d8;
  flex-direction: row;
  align-items: center;
  display: flex;
}

.header .account {
  margin-right: 30px;
  flex: 1;
  flex-direction: row;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

.header .search {
  flex: 2;
  justify-content: flex-start;
  display: flex;
}

.header .logo {
  justify-content: flex-start;
  flex: 1;
  display: flex;
}

.header #username {
  padding-left: 10px;
  color: #333333;
  font-family: Roboto-Regular;
}

.header #img-logo {
  width: 200px;
  height: auto;
  margin-left: 30px;
}

.header #img-avatar {
  width: 40px;
  height: 40px;
  border-radius: 24px;
}

.header #input-search {
  border: 0px;
  background: #f6f5f5;
  border-radius: 8px;
  width: 90%;
  height: 40px;
  padding-left: 60px;
  font-size: 18px;
  font-family: Roboto-Regular;
}

.header #input-search::placeholder {
  color: #828282;
  font-family: Roboto-Light;
}

.header #input-search:hover {
  border: 0px;
}

.header #input-search:focus {
  outline: none !important;
  border: 0px;
  box-shadow: 0 0 4px #ff5346;
}

.header #icon-search {
  color: #aaaaaa;
  position: absolute;
  align-self: center;
  padding-left: 20px;
}

.header .form-account {
  width: 200px;
  background-color: white;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  position: absolute;
  top: 55px;
  z-index: 10;
  padding: 5px 0px;
}

.header .form-account .row-dropdown {
  align-items: center;
  margin: 5px 0px;
  padding: 0px 20px;
  height: 40px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.header .form-account .title-dropdown {
  font-family: Roboto-Regular;
  margin-left: 15px;
  color: #828282;
  font-size: 18px;
}

#return-home {
  text-align: center;
  margin-left: 13vw;
  width: 10vw;
  color: white;
  background-color: #ee6f57;
  font-family: Roboto-Medium;
  border-radius: 8px;
  padding: 8px 10px;
  cursor: pointer;
}

#return-home:hover{
  text-decoration: underline;
}

/* Thanh Nav cho trang home */
.nav {
  display: flex;
  flex-direction: column;
  width: 17vw;
  margin-right: 0px;
  background-color: #ee6f57;
  height: 90vh;
}

.nav .ul-nav {
  list-style-type: none;
  padding-inline-start: 0px;
}

.nav .nav-item {
  height: 50px;
  justify-content: flex-start;
  display: flex;
  align-items: center;
  margin-left: 0px;
  padding-left: 8px;
}

.nav .nav-item-click {
  background-color: white;
}

.nav .nav-item-click .icon-right {
  color: #333333;
}

.nav .nav-item-click .text-nav {
  color: #333333;
}

.nav .nav-item span {
  cursor: default;
}

.nav .icon-left {
  margin-right: 2px;
  color: #ee6f57;
}

.nav .icon-right {
  margin-right: 8px;
  color: white;
}

.nav .text-nav {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: white;
  font-family: Roboto-Medium;
}

.nav .title {
  height: 80px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.nav .title .box {
  height: 50px;
  width: 80%;
  background: #ee6f57;
  box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.1);
  border-radius: 64px;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: default;
}

.nav #img-nhatro {
  width: 36px;
  height: 36px;
  border-radius: 20px;
  border: 2px solid white;
  cursor: default;
}

.nav #ten-nha-tro {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: white;
  padding-left: 14px;
  font-family: Roboto-Medium;
  cursor: default;
}

.nav .line {
  border-bottom: 0.5px solid #ffffff;
  background-color: white;
  width: 80%;
  align-self: center;
  display: flex;
}

/* Màn hình quản lý dãy trọ*/
.quanlydaytro {
  width: 83vw;
  background-color: #f6f5f5;
}
.quanlydaytro h4 {
  margin: 5px 0px;
}
.quanlydaytro .row {
  height: 60px;
  background-color: white;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 4%;
}

.quanlydaytro .block {
  color: white;
  background-color: #ee6f57;
  font-family: Roboto-Medium;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
}

.quanlydaytro .array-item {
  height: 76vh;
  overflow-y: scroll;
  padding: 25px 0 0 50px;
}

.quanlydaytro .dropdown {
  align-self: center;
  color: #333333;
  font-size: 18px;
  font-family: Roboto-Regular;
}

.quanlydaytro .card {
  width: 22%;
  height: 220px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 2px black;
  overflow: hidden;
  margin-bottom: 25px;
  float: left;
  margin-right: 25px;
}

.quanlydaytro .card #img-card {
  width: 100%;
  height: 145px;
}

.quanlydaytro .card .box-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 15px;
}

.quanlydaytro .card .box-name h4 {
  color: #333333;
  font-family: Roboto-Medium;
}

.quanlydaytro .card .box-name span {
  color: #828282;
  font-size: 16px;
  font-family: Roboto-Regular;
}

.row {
  height: 60px;
  background-color: white;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 4%;
}

.quanlydaytro .option {
  margin-right: 16px;
  display: flex;
  align-items: center;
  cursor: default;
}

.option .option-title {
  color: #828282;
  font-family: Roboto-Medium;
}

.quanlydaytro .option-click {
  border-bottom: 3px solid #ee6f57;
}

.quanlydaytro .option .option-title-click {
  color: #151515;
}

.quanlydaytro .check-box {
  font-family: Roboto-Regular;
  font-size: 18px;
  margin-left: 10px;
  color: #151515;
}

.quanlydaytro .check-box-input {
  width: 25px;
}

.quanlydaytro .check-box-box {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

input[type="checkbox"] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
}

/* Màn hình quản lý người thuê*/
.quanlynguoithue {
  width: 83vw;
  background-color: #f6f5f5;
}

.quanlynguoithue h4 {
  margin: 5px 0px;
}
.quanlynguoithue .row {
  height: 60px;
  background-color: white;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 4%;
}

.row h3 {
  font-family: Roboto-Medium;
  color: #151515;
}

.quanlynguoithue .array-item {
  height: 76vh;
  overflow-y: scroll;
  padding: 25px 0 0 50px;
}

.quanlynguoithue .dropdown {
  align-self: center;
  color: #333333;
  font-size: 18px;
  font-family: Roboto-Regular;
}

.quanlynguoithue .card {
  width: 28%;
  float: left;
  margin-bottom: 25px;
  margin-right: 25px;
}

.quanlynguoithue .card #img-card {
  width: 25%;
  border-radius: 5px;
  float: left;
  border: solid 0.3px #bdbdbd;
}

.quanlynguoithue .card .box-name {
  margin-left: 15px;
  float: left;
}

.quanlynguoithue .card .box-name h4 {
  font-family: Roboto-Regular;
  color: #333333;
}

.quanlynguoithue .card .box-name span {
  font-size: 15px;
  font-family: Roboto-Regular;
  color: #828282;
}

/* Componnent button */
.box-btn {
  display: inline-grid;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.box-btn .btn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background: #1f3c88;
  width: 170px;
  height: 36px;
  align-items: center;
  align-self: center;
  position: absolute;
  color: white;
  justify-content: center;
  border-width: 0;
  font-family: Roboto-Regular;
}

.btn3 {
  border: 0;
  margin-left: 5vw;
  color: white;
  background-color: #ee6f57;
  border-radius: 8px;
  padding: 8px 20px;
  cursor: default;
  font-family: Roboto-Regular;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.box-btn .btn2 {
  background: #070d59;
  width: 170px;
  height: 36px;
  align-items: center;
  align-self: center;
  margin-left: 5px;
  margin-top: 5px;
  border-width: 0;
}

.box-btn #icon-btn {
  color: white;
  margin-right: 10px;
}

/* Login */
.login .body {
  background-image: url("./images/background.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
}

.login .formlogin .title {
  font-size: 28px;
  font-family: "times new roman";
  text-align: center;
  justify-content: center;
  margin: 32px;
  color: #070d59;
  font-weight: bold;
}
.login .formlogin .form {
  background-color: rgb(238, 111, 87, 0.8);
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 32px;
  border-radius: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
}
.login .formlogin .form .dangnhap {
  text-align: center;
  padding-top: 20px;
  font-size: 32px;
  font-weight: bold;
  color: white;
}
.login .input {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.login .input .icon {
  position: absolute;
  font-size: 24px;
  color: #ffffff;
  padding-right: 16px;
}
.login .input .inputtext {
  border: solid 1px #ffffff;
  padding: 16px;
  padding-right: 80px;
  background-color: rgb(238, 111, 87, 0);
  width: 100%;
  font-size: 16px;
  color: #ffffff;
}
.login .input .inputtext:focus {
  border: 0px;
}

.login .input .inputtext::placeholder {
  color: #ffffff;
  font-weight: 100;
}
.login .quenmatkhau {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
.login .quenmktext:hover {
  text-decoration: underline;
  text-decoration-color: white;
}
.login .quenmatkhau .icon2 {
  color: #ffffff;
  align-self: center;
  margin-right: 4px;
  font-size: 16px;
}
.login .quenmatkhau .quenmktext {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  display: inline;
  margin: 0px;
  align-self: center;
}

@media all and (max-width: 540px) {
  .login .formlogin .title {
    font-size: 24px;
  }
  .login .formlogin .form .dangnhap {
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .login .formlogin .form {
    padding-bottom: px;
    padding-left: 24px;
    padding-right: 24px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 40px;
  }
  .box-btn .btn {
    font-size: 20px;
    padding: 16px;
  }
  .box-btn .btn2 {
    font-size: 20px;
    padding: 16px;
  }
  .login .quenmatkhau .quenmktext {
    font-size: 12px;
  }
  .login .input .icon {
    font-size: 20px;
    padding-right: 16px;
  }
  .login .quenmatkhau .icon2 {
    font-size: 14px;
  }
  .login .input .inputtext {
    padding: 16px;
    padding-right: 50px;
    font-size: 14px;
  }
}
/* end login */

/*admin yêu cầu, thông báo */
.yeucau {
  width: 83vw;
}

.yeucau .table {
  display: flex;
  padding: 24px;
}
.yeucau .table p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Roboto-Medium;
}
.yeucau .table td {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #828282;
  font-family: Roboto-Regular;
}
.yeucau .table th {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
  color: #4f4f4f;
}
.yeucau .table .icon {
  font-size: 20px;
  vertical-align: middle;
}
.yeucau .table .icon2 {
  color: #eb5757;
  align-items: center;
  justify-content: center;
  display: flex;
}
.yeucau .table .icon3 {
  color: #219653;
  align-items: center;
  justify-content: center;
  display: flex;
}
.yeucau .sort {
  display: table-cell;
  white-space: nowrap;
}
.yeucau .sort_text {
  display: inline-block;
  margin-right: 4px;
}
.yeucau .table table,
tr {
  border: 1px solid #bdbdbd;
}
.yeucau .table table {
  border-collapse: collapse;
  background-color: #ffffff;
}
.yeucau .table .ghichu {
  border: none;
  border-bottom: 1px solid #bdbdbd;
  font-size: 16px;
  color: #828282;
}
.yeucau .table input[type="text"]:focus {
  outline: none;
  color: #070d59;
}

/* thanh toán */
.thanhtoan {
  width: 83vw;
}
.thanhtoan .nav {
  background-color: #ee6f57;
  float: left;
  width: 20%;
  height: 800px;
}
.thanhtoan .table {
  display: flex;
  padding: 24px;
}
.thanhtoan .table p {
  margin-top: 0px;
  margin-bottom: 0px;
}
.thanhtoan .table td {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 8px;
  color: #828282;
}
.thanhtoan .table .tongcong {
  padding-top: 8px;
}
.thanhtoan .table th {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
  color: #4f4f4f;
  font-family: Roboto-Medium;
}
.thanhtoan .table p {
  margin-top: 0px;
  margin-bottom: 0px;
}
.thanhtoan .table table,
tr {
  border: 1px solid #bdbdbd;
}
.thanhtoan .table table {
  border-collapse: collapse;
  background-color: #ffffff;
}
.thanhtoan .sort {
  display: table-cell;
  white-space: nowrap;
}
.thanhtoan .sort_text {
  display: inline-block;
  margin-right: 2px;
}
.thanhtoan .table .icon {
  font-size: 20px;
  vertical-align: middle;
}
.thanhtoan .chiso {
  display: inline;
  font-family: Roboto-Regular;
}
.ngaychot {
  font-family: Roboto-Regular;
  font-size: 18px;
}
.thanhtoan .box-btn {
  margin-top: 8px;
  display: flex;
  position: relative;
  justify-content: flex-start;
}

.thanhtoan .box-btn .btn {
  font-size: 13px;
  font-family: Roboto-Regular;
  background: #1f3c88;
  position: absolute;
  color: white;
  border-width: 0px;
  width: 120px;
}

.thanhtoan .box-btn .btn2 {
  background: #070d59;
  width: 120px;
  height: 36px;
  margin-left: 5px;
  margin-top: 5px;
  border-width: 0;
}
.thanhtoan .text-top {
  vertical-align: text-top;
}
.thanhtoan .tien {
  color: #1f3c88 !important;
  font-family: Roboto-Medium;
}
.thanhtoan .status {
  font-family: Roboto-Regular;
}
.thanhtoan .padbot4px {
  padding-bottom: 4px;
}
.thanhtoan .colorblack {
  color: #4f4f4f;
  font-family: Roboto-Medium;
}

/* ---------------------------------------------------------------------THÔNG TIN CHUNG*/
.thongtinchung {
  width: 83vw;
}

.thongtinchung .row {
  justify-content: left;
}

.thongtinchung .option {
  margin-right: 16px;
  display: flex;
  align-items: center;
  cursor: default;
}

.option .option-title {
  color: #828282;
  font-family: Roboto-Medium;
}

.thongtinchung .option-click {
  border-bottom: 3px solid #ee6f57;
}

.thongtinchung .option .option-title-click {
  color: #151515;
}

.thongtinchung .background {
  background-color: #e5e5e5;
  padding: 25px;
}

.thongtinchung .option-ca-nhan {
  background-color: white;
  height: 100%;
  display: flex;
}

.thongtinchung .option-o-tro {
  background-color: white;
  height: 100%;
}

.thongtinchung .option-ca-nhan2 {
  background-color: white;
  display: flex;
}

.thongtinchung .option-o-tro2 {
  background-color: white;
  padding-bottom: 10px;
}

.thongtinchung .option-thanh-vien {
  background-color: white;
}

.thongtinchung .box-avatar {
  padding: 25px 25px;
}

.thongtinchung .avatar {
  width: 245px;
  height: 245px;
  border-radius: 8px;
}

.thongtinchung .avatar-small {
  width: 30px;
  height: 30px;
  border-radius: 3px;
}

.thongtinchung .display-flex {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.thongtinchung #icon-edit {
  color: #828282;
}

.thongtinchung .text-change-avatar {
  color: #828282;
  font-size: 16px;
  margin-left: 6px;
  font-family: Roboto-Regular;
}

.thongtinchung .box-thongtin {
  padding: 25px 25px;
  width: 100%;
}

.thongtinchung #user-name {
  font-size: 26px;
  line-height: 33px;
  color: #333333;
  font-family: Roboto-Bold;
}

.thongtinchung #roommate-name {
  font-size: 18px;
  color: #333333;
  font-family: Roboto-Medium;
  margin-left: 8px;
}

.thongtinchung .box-thongtin-row {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  margin-right: 20%;
  margin-left: -60px;
}

.thongtinchung .box-thongtin-row2 {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-right: 20%;
}

.thongtinchung .row-item3 {
  height: 60px;
  width: max-content;
  display: grid;
  margin-top: 20px;
}

.thongtinchung .item-title2 {
  color: #4f4f4f;
  font-weight: bold;
  font-size: 20px;
}

.thongtinchung .item-infor2 {
  color: #828282;
  font-size: 18px;
}

.thongtinchung .row-item {
  padding: 10px 60px;
}

.thongtinchung .row-item2 {
  padding: 10px 0px;
}

.thongtinchung .item-title {
  color: #4f4f4f;
  font-family: Roboto-Medium;
  font-size: 20px;
  margin-bottom: 10px;
}

.thongtinchung .item-infor {
  color: #828282;
  font-size: 18px;
  font-family: Roboto-Regular;
}

.thongtinchung .btn-edit-infor {
  margin-top: 20px;
  margin-left: 80px;
  display: flex;
  width: 80%;
  justify-content: flex-end;
  font-family: Roboto-Regular;
}

.thongtinchung .box-column {
  display: flex;
}

.thongtinchung .column-title {
  display: grid;
  height: 240px;
}

.thongtinchung .column-infor {
  margin-left: 120px;
  display: grid;
  height: 240px;
}

.thongtinchung .box-thong-tin-o-tro {
  padding: 30px 50px 0px 50px;
}

.thongtinchung .thong-tin-phong {
  margin: 25px;
  border: 1px solid #828282;
  padding: 25px 25px 15px 25px;
  border-radius: 10px;
}

.thongtinchung #title-phong {
  background: rgba(238, 111, 87, 0.8);
  padding: 5px;
  font-family: Roboto-Bold;
  color: white;
  border-radius: 6px;
  display: inline;
  margin-left: -5px;
}

.thongtinchung .table {
  display: flex;
  justify-content: space-between;
}

.thongtinchung .option-thanh-vien .table {
  background-color: white;
}

.thongtinchung .option-thanh-vien table {
  width: 100%;
}

.thongtinchung .option-thanh-vien .sort {
  display: flex;
}

.thongtinchung .option-thanh-vien .table td {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #828282;
}
.thongtinchung .option-thanh-vien .table th {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
  color: #4f4f4f;
  font-family: Roboto-Medium;
}
.thongtinchung p {
  margin: 0;
}
.thongtinchung .table table,
tr {
  border: 1px solid #bdbdbd;
}
.thongtinchung .table table {
  border-collapse: collapse;
  background-color: #ffffff;
}

/* dịch vụ */
.dichvu {
  width: 83vw;
}
.dichvu .nav {
  background-color: #ee6f57;
  float: left;
  width: 20%;
  height: 800px;
}
.dichvu .table {
  display: flex;
  padding: 24px;
}
.dichvu .table p {
  margin-top: 0px;
  margin-bottom: 0px;
}
.dichvu .table td {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #828282;
  font-family: Roboto-Regular;
}
.dichvu .table th p {
  font-size: 18px;
  font-family: Roboto-Medium;
}
.dichvu .table td p {
  font-size: 16px;
  font-family: Roboto-Regular;
}
.dichvu .table th {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
  color: #4f4f4f;
}
.dichvu .table .icon {
  font-size: 20px;
  vertical-align: middle;
}
.dichvu .table .icon2 {
  color: #eb5757;
  vertical-align: middle;
}
.dichvu .sort {
  display: table-cell;
  white-space: nowrap;
}
.dichvu .sort_text {
  display: inline-block;
  margin-right: 4px;
}
.dichvu .table table,
tr {
  border: 1px solid #bdbdbd;
}
.dichvu .table table {
  border-collapse: collapse;
  background-color: #ffffff;
  margin-right: 12px;
}
.dichvu .table .ghichu {
  border: none;
  border-bottom: 1px solid #bdbdbd;
  font-size: 16px;
  color: #828282;
}
.dichvu .table input[type="text"]:focus {
  outline: none;
  color: #070d59;
}
.dichvu .dropdown-diennuoc {
  padding: 4px;
  border: 1px solid #828282;
  border-radius: 4px;
  color: #4f4f4f;
  margin-left: 10px;
  width: 8vw;
  font-size: 14px;
  font-family: Roboto-Regular;
}
.dichvu .menu-diennuoc {
  width: 8vw;
  margin-left: 10px;
  font-size: 15px;
  font-family: Roboto-Regular;
}
.dichvu .box-btn {
  display: inline-grid;
  align-items: center;
  justify-content: center;
  align-self: center;
}
.dichvu .box-btn .btn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background: #1f3c88;
  width: 130px;
  height: 36px;
  align-items: center;
  align-self: center;
  position: absolute;
  color: white;
  justify-content: center;
  border-width: 0;
  font-family: Roboto-Regular;
}
.dichvu .box-btn .btn2 {
  background: #070d59;
  width: 130px;
  height: 36px;
  align-items: center;
  align-self: center;
  margin-left: 5px;
  margin-top: 5px;
  border-width: 0;
}

/*----------------------------------------------------------------------------------------- Model */
.model-input {
  border: 1px solid #bdbdbd;
  padding: 15px;
  width: 100%;
  font-size: 16px;
  font-family: Roboto-Light;
}

.model-result-input {
  border: 1px solid #bdbdbd;
  padding: 15px;
  width: 100%;
  font-size: 14px;
  border-radius: 8px;
  font-family: Roboto-Light;
}

.model-textarea {
  border: 1px solid #bdbdbd;
  padding: 19px;
  width: 100%;
  font-size: 16px;
  resize: none;
  font-family: Roboto-Light;
  height: 80px;
}

.textarea-box {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}

.textarea-box .icon {
  position: absolute;
  font-size: 24px;
  color: #ffffff;
  padding-right: 16px;
  padding-top: 17px;
}

.input-box .icon {
  position: absolute;
  font-size: 24px;
  color: #ffffff;
  padding-right: 16px;
}

.model-box {
  padding: 15px 20px 0 20px;
}

.input-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 15px;
}

.title-box {
  height: 80px;
  border-bottom: 1px solid #bdbdbd;
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
  align-items: center;
}

.title-text {
  font-size: 24px;
  text-align: center;
  color: #151515;
  font-family: Roboto-Medium;
}

.text-tai-anh-len {
  font-family: Roboto-Medium;
  font-size: 20px;
  color: #ee6f57;
  margin: 0;
}

.text-huy {
  font-family: Roboto-Regular;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #4f4f4f;
  margin-right: 15px;
  cursor: default;
}

.upload-img {
  height: 120px;
  border: 1px dashed #828282;
  box-sizing: border-box;
  border-radius: 16px;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
}

.model-them-phong-tro {
  margin-top: 50px;
  width: 650px;
  height: 650px;
  background-color: white;
  border-radius: 12px;
}

.model-flex {
  display: flex;
  justify-content: space-between;
}

.model-column {
  width: 48%;
}

.model-them-thong-bao {
  margin-top: 50px;
  width: 425px;
  height: 425px;
  background-color: white;
  border-radius: 12px;
}

.model-thay-doi-thong-tin {
  margin-top: 50px;
  width: 650px;
  height: 425px;
  background-color: white;
  border-radius: 12px;
}

#input-type {
  margin: 0;
  margin-top: 5px;
  font-size: 14px;
  color: #828282;
  font-weight: Roboto-Light;
}

.dropzone {
  cursor: default;
}

.displayed-image {
  width: 150px;
  height: 100px;
  margin-top: 10px;
  border-radius: 5px;
}

.displayed-avatar {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  border-radius: 5px;
}

.dropdown-modal {
  border: 1px solid #828282;
  padding: 15px;
  display: flex;
  align-items: center;
  width: 293px;
  height: 51px;
  font-size: 16px;
  font-family: Roboto-Light;
}

.menu-modal {
  font-size: 16px;
  font-family: Roboto-Light;
}

.arrow-modal {
  align-items: center;
  margin: 6px 10px;
}

.dropdown-modal-short {
  border: 1px solid #828282;
  padding: 15px;
  display: flex;
  align-items: center;
  width: 142px;
  height: 51px;
  font-size: 16px;
  font-family: Roboto-Light;
}

.dropdown-modal-them-phong {
  border: 1px solid #828282;
  padding: 15px;
  display: flex;
  align-items: center;
  width: 269px;
  height: 51px;
  font-size: 16px;
  font-family: Roboto-Light;
}

.menu-modal-short {
  font-size: 16px;
  font-family: Roboto-Light;
}

.arrow-modal-short {
  align-items: center;
  margin: 6px 10px;
}

.dropdown-modal-medium {
  border: 1px solid #828282;
  padding: 15px;
  display: flex;
  align-items: center;
  width: 173px;
  height: 51px;
  font-size: 16px;
  font-family: Roboto-Light;
}

.dropdown-menu-medium {
  max-height: 120px;
}

.menu-medium {
  font-size: 16px;
  font-family: Roboto-Light;
}

.arrow-medium {
  align-items: center;
  margin: 6px 10px;
}

.modal-title {
  font-size: 24px !important;
  font-family: Roboto-Medium;
  color: #151515;
  border-bottom: 0.2px solid #bbbbbb !important;
  padding: 10px 0 15px 0;
  margin-bottom: 15px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-content {
  font-family: Roboto-Light;
  font-size: 20px !important;
  color: #828282;
  border: 0 !important;
}

/*                                                                              Notification */
.notification-error {
  margin: 10px 0;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding: 10px;
  border: 1px solid transparent;
  font-family: Roboto-Regular;
  border-radius: 5px;
}

.notification-success {
  margin: 10px 0;
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  padding: 10px;
  border: 1px solid transparent;
  font-family: Roboto-Regular;
  border-radius: 5px;
}

/*                                                                              Chi tiet Day */
.chitietday {
  width: 83vw;
  background-color: #f6f5f5;
}
.chitietday .option {
  margin-right: 16px;
  display: flex;
  align-items: center;
  cursor: default;
}

.chitietday .option-click {
  border-bottom: 3px solid #ee6f57;
}

.chitietday .option .option-title-click {
  color: #151515;
}

.chitietday .check-box {
  font-family: Roboto-Regular;
  font-size: 18px;
  margin-left: 10px;
  color: #151515;
}

.chitietday .check-box-input {
  width: 25px;
}

.chitietday .check-box-box {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.chitietday .nav {
  background-color: #ee6f57;
  float: left;
  width: 20%;
  height: 800px;
}
.chitietday .colorblack {
  color: #4f4f4f;
  font-family: Roboto-Medium;
  font-size: 16px;
}
.chitietday .table {
  display: flex;
  padding: 24px;
}
.chitietday .table p {
  margin-top: 0px;
  margin-bottom: 0px;
}
.chitietday .table td {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #828282;
  font-family: Roboto-Regular;
}
.chitietday .table th {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
  color: #4f4f4f;
  font-family: Roboto-Medium;
}
.chitietday .table .icon {
  font-size: 20px;
  vertical-align: middle;
}
.chitietday .table .icon2 {
  color: #eb5757;
  vertical-align: middle;
}
.chitietday .sort {
  display: table-cell;
  white-space: nowrap;
}
.chitietday .sort_text {
  display: inline-block;
  margin-right: 4px;
}
.chitietday .table table,
tr {
  border: 1px solid #bdbdbd;
}
.chitietday .table table {
  border-collapse: collapse;
  background-color: #ffffff;
}
.chitietday .table .ghichu {
  border: none;
  border-bottom: 1px solid #bdbdbd;
  font-size: 16px;
  color: #4f4f4f;
}
.chitietday .ngaychotchiso {
  border: none;
  border-bottom: 1px solid #bdbdbd;
  background-color: transparent;
  font-family: "Roboto-Bold";
  font-size: 18px;
  margin-left: 5px;
}
.chitietday .ngaychotchiso:focus {
  outline: none;
}
.chitietday .ghichu:focus {
  outline: none;
}
.chitietday .table input[type="text"]:focus {
  outline: none;
  color: #070d59;
}
.chitietday .dropdown-chitietday {
  padding: 4px;
  border: 1px solid #828282;
  border-radius: 4px;
  color: #4f4f4f;
  margin-left: 24px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.chitietday .dropdown-thongtinthanhtoan {
  padding: 4px;
  border: 1px solid #828282;
  border-radius: 4px;
  color: #4f4f4f;
}
.chitietday .chiso {
  display: inline;
}
.chitietday .tien {
  color: #828282 !important;
  font-family: Roboto-Regular;
  font-size: 14px;
}
/*                                                                          Loading*/
.loading {
  display: flex;
  height: 70vh;
  justify-content: center;
  align-items: center;
}
.loading2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading3 {
  width: 1.5vw;
  height: 1.5vw; 
  display: inline-flex;
  margin-left: 2vw;
}
.loading4 {
  display: flex;
  height: 30vh;
  justify-content: center;
  align-items: center;
}